.contact-container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 100px;
    margin-bottom: 80px;
    .contact-title{
        font-family: DINNextLTW23;
        font-size: 28px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #1f1f1f;
    }
}
.contact-us{
    width: 1030px;
    height: 554px;
    border-radius: 10px;
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.09);
    background-color: #ffffff;
    .element{
        margin: 39px 60px 0 0;
        .element-title{
            font-family: DINNextLTW23;
            font-size: 16px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: right;
            color: #000000;
        }

    }
   
}
.contact-input{
    width: 378px;
  height: 40px;
  margin-bottom: 15px;
}

.contact-form{
    display: flex;
    flex-direction: column;
    margin-top: 36px;
}
.contact-btn{
    width: 378px;
  height: 40px;
  border-radius: 5px;
  background-color: #009ad0;
  color: #fff;
  margin-top: 20px;
}
.radio-options{
    width: 300px; 
    display: flex
}

@media (max-width:320px){
    .contact-us{
        width: 300px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contact-us-img{
        width: 200px;
    }
    .radio-options{
        width: 200px; 
        display: flex;
        flex-direction: column;
    }
    .contact-form .contact-input{
        width: 200px;
    }
    .contact-btn {
        width: 200px;
        margin-bottom: 30px;
    }
    .contact-us .element {
        margin: 39px 0px 0 0;
    }
}

@media (min-width:321px) and (max-width:768px){

    .contact-us{
        width: 350px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    align-items: center;
    }
    .contact-us-img{
        width: 280px;
    }
    .radio-options{
        width: 250px; 
        display: flex;
        flex-direction: column;
    }
    .contact-form .contact-input{
        width: 250px;
    }
    .contact-btn {
        width: 250px;
        margin-bottom: 30px;
    }
    .contact-us .element {
        margin: 39px 0px 0 0;
    }

}