.company-info {
    // width: 287px;
    height: 300px;
    border-radius: 7px;
    box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.07);
    background-color: #ffffff;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .company-pic-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .c-pic{
           font-size: 100px;
           margin-top:28px;
        }
        .u-pic{
            width: 106px;
            height: 106px;
            font-size: 18px;
            margin-top:28px;
            border-radius: 50%;
         }
        .company-name {
            font-size: 16px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #343434;
        }
    }
    .company-details-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-right: 21px;
        >span {
            font-size: 14px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: right;
            color: #898989;
            margin-top: 10px;
            padding: 0 10px;

            > i {
                padding-left: 10px;
            }
        }
    }
}