
.applicant-header {
    height: 38px;
    border-radius: 5px;
    box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.07);
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    padding-left: 22px;
    > h3 {
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #3b3b3b;
        width: 100%;
    }
}
.applicant {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 87px;
    border-radius: 5px;
    box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.07);
    background-color: #ffffff;
    margin-top: 10px;
    > h4 {
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.71;
        letter-spacing: normal;
        text-align: center;
        color: #000000;
        width: 100%;
    }
     div {
        width: 100%;
        text-align: center;
    }
}
.display-cv, .accept-user {
    width: 107px;
    height: 32px;
    border-radius: 6px;
    background-color: #f3f3f3;
    border-color: #f3f3f3;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
    color: #626262;
  } 
  .display-cv{
    padding: 6px 46px;
  }
.display-cv:hover, .display-cv:focus, .accept-user:hover, .accept-user:focus {
  width: 107px;
  height: 32px;
  border-radius: 6px;
  background-color: #3598d4;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}
.display-cv-mob{
    display: none;
}

.applicants-container {
    margin-bottom: 30px;
    .app-title {
        height: 38px;
        border-radius: 2px;
        box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.07);
        background-color: #ffffff;
        font-size: 14px;
        text-align: center;
        color: #3b3b3b;
        padding-top: 5px;
        margin-top: 15px;
    }
    .applicants-names{
        height: 900px;
        overflow-y: scroll;
        overflow-x: hidden;
        direction: ltr;
        margin-left: 1px;
                .applicant-cv-info {
                    width: 575px;
                    height: 60px;
                    background-color: #ffffff;
                    margin: 0;
                    border: none;
                    margin-bottom: 2px;
                    box-shadow: none;
                    text-align: right;
                    display: flex;
                    flex-direction: row-reverse;
                    align-items: center;
                    cursor: pointer;
                    h4 {
                        color: #009ad0;
                        line-height: 1.36;
                        font-size: 14px;
                        font-weight: bold;
                    }
                    > img {
                        width: 48px;
                        height: 48px;
                        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
                        border-radius: 50%;
                        border: none;
                        margin: 0 12px;
                    }
                }
                .is-read {
                    background: rgba(235, 243, 248, 0.6);
                    border-bottom: solid 2px #f7f7f7;
                }
    }
}

@media (max-width: 320px) {
    .company-container {
        overflow-y: scroll;
    }
    .applicant-header {
        display: none;
    }
    .applicant {
        flex-direction: column;
        height: auto;
        align-items: flex-start;
        padding-right: 20px;

        > h4:nth-child(1) {
            font-weight: bold;
        }
        > h4:nth-child(4) {
            color: #1890ff;
          }
        > h4:nth-child(3) {
            display: none
        }
    }
    .display-cv {
        display: none;
    }
    .display-cv-mob {
        display: block;
        margin: auto;
        height: 32px;
        border-radius: 6px;
        background-color: #f3f3f3;
        border-color: #f3f3f3;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.71;
        letter-spacing: normal;
        text-align: center;
        color: #626262;
        margin-bottom: 10px !important;
        margin-top: 10px !important;
      }
      .jobs-actions {
          flex-direction: column;
          height: auto;
          background: none;
          align-items: flex-start;
      }
      .filter-btn {
        display: none;
    }
    .action-right-side {
        margin-right: 0px !important;
        margin-top: 20px;
        margin-bottom: 10px;

    .jobs-search-icon {
        right: 45px;
    }
  } 

}

@media (min-width:321px) and (max-width: 768px) {
    .applicant-header {
        display: none;
    }
    .applicant {
        flex-direction: column;
        height: auto;
        align-items: flex-start;
        padding-right: 20px;

        > h4:nth-child(1) {
            font-weight: bold;
        }
        > h4:nth-child(4) {
          color: #1890ff !important;
        }
        > h4:nth-child(3) {
            display: none
        }
    }
    .display-cv{
        display: none;
    }
    .display-cv-mob {
        display: block;
        margin: auto;
        height: 32px;
        border-radius: 6px;
        background-color: #f3f3f3;
        border-color: #f3f3f3;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.71;
        letter-spacing: normal;
        text-align: center;
        color: #626262;
        margin-bottom: 10px !important;
        margin-top: 10px !important;
      }
      .jobs-actions {
        flex-direction: column;
        height: auto;
        background: none;
        align-items: flex-start;
    } 
    .filter-btn {
        display: none;
    } 
    .action-right-side {
        margin-right: 0px !important;
        margin-top: 20px;
        margin-bottom: 10px;
        .jobs-search-icon {
            right: 45px;
        }
    } 
}