.validations{
    font-size: 8px;
}
.new-ad-form {
    width: 948px;
    border-radius: 10px;
    box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.07);
    background-color: #ffffff;
    display: block;
    margin: auto;
    padding: 62px 123px;
    .new-ad-title{
        font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #222222;
    }
    >p {
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: center;
        color: #ababab;
        padding-bottom: 53px;
    }
}

.new-ad-details {
    >label {
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.57;
        letter-spacing: normal;
        text-align: right;
        color: #b5b5b5;
        
    }
    > textarea {
        height: 150px;
        border-radius: 6px;
        border: solid 1px #d9d9d9;
        background-color: #fdfdfd;
        margin-bottom: 10px !important;
    }
    >input{
        border-radius: 4px;
        border: solid 1px #d9d9d9;
        background-color: #fdfdfd;
        margin-bottom: 10px !important;
    }
    .input-field {
        width: 350px;
        height: 32px;
        border-radius: 4px;
        border-top: solid 1px #d9d9d9 !important;
        border-top-width: 1.02px;
        background-color: #fdfdfd;
        margin-bottom: 12px;
    }
    .date-web {
        border-top: none !important;
    }
    .project-selection{
        margin-bottom: 10px !important;
    }
    .selector {
        width: 702px;
        >div {
            border-top-width: 1.02px;
        }
    }
}
.last-ad-group >div:nth-child(1){
    margin-left: 5px;
}
.group-questions, .last-ad-group {
    display: flex;
    width: 100%;
    .left-side, .right-side {
        >label {
            font-size: 14px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.57;
            letter-spacing: normal;
            text-align: right;
            color: #b5b5b5;
        }
        >input {
            width: 348px;
            border-radius: 5px;
            border: solid 1px #d9d9d9;
            background-color: #fdfdfd;
           margin-bottom: 10px !important;

        }
    }
    .selector {
        width: 341px;
        >div {
            border-top-width: 1.02px;
        }
    }
}

.sub-heading {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: right;
  color: #b5b5b5;
}
.add-new-ad-btn {
  display: block;
  margin: auto;
  width: 191px;
  height: 35px;
  border-radius: 6px;
  background-color: #3598d4;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin-top: 60px !important;
}

@media (max-width: 320px) {
    .new-ad-form {
        width: auto;
        padding: 12px 23px;
    }
    .group-questions .left-side > input, .group-questions .right-side > input, .last-ad-group .left-side > input, .last-ad-group .right-side > input {
        width: 110px;
    }
    .new-ad-details .selector {
        width: 240px;
    }
    .last-ad-group .selector {
        width: 100px;
    }
    .new-ad-details .input-field {
        width: 100px;
    }
    .add-new-ad-btn {
        margin-top:0 !important;
    }
}

@media (min-width:321px) and (max-width: 768px){
    .new-ad-form {
        width: auto;
        padding: 12px 23px;
        >p {
            padding-bottom: 0;
        }
    }
    .group-questions, .last-ad-group{
        flex-direction: column;
    }
    .group-questions .left-side > input, .group-questions .right-side > input, .last-ad-group .left-side > input, .last-ad-group .right-side > input {
        max-width: 300px;
    }
    .new-ad-details .selector {
        max-width: 300px;
    }
    .new-ad-details > input {
        max-width: 300px;
    }
    .new-ad-details > textarea {
        max-width: 300px;
    }
    .last-ad-group .selector {
        max-width: 300px;
    }
    .new-ad-details .input-field {
        max-width: 300px;
    }
    .add-new-ad-btn {
        margin-top:0 !important;
        -webkit-appearance: none;
        // -webkit-border-before-width: none;
        -webkit-border-before-style: none;
        -webkit-border-after-style: none;
        // -webkit-border-before-color: none;
    }
}