.company-projects {
    margin: 0px 135px;
    height: 100vh;
}
.projects-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    // width: 1170px;
    height: 38px;
    border-radius: 5px;
    box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.07);
    background-color: #ffffff;
    margin-top: 30px;
    margin-bottom: 10px;
    padding-right: 50px;
    >h2 {
   font-family: 'Tajawal';
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #3b3b3b;
    }
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-extra {
    float: left;
    margin-left: 25px;
}
.projects-collapse {
//   height: 87px !important;
  opacity: 0.75 !important;
  border-radius: 5px !important;
  background-color: #ffffff !important;
  margin-top: 10px !important;
  background-color: #f3f3f3 !important;
  border: none !important;
  >div {
      border-bottom: none !important;
      background: #fff !important;
      border-radius: 5px !important;
    //   opacity: 0.75 !important;
    >div {
        padding: 20px 16px !important;
        font-family: 'Tajawal' !important;
        font-size: 14px !important;
        font-weight: 500 !important;
        font-stretch: normal !important;
        font-style: normal !important;
        line-height: 1.71 !important;
        letter-spacing: normal !important;
        color: #000000 !important;
        border-top: none !important;
    }
  }
}
.panel-title{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    padding: 10px 0px 0 30px;
    // max-width: 740px;
    >div {
    display: flex;
        justify-content: space-around;
        justify-items: center;
        width: 740px; 
    }
}
.offers-num {
display: flex;
justify-content: center;
align-items: center;
width: 71px;
height: 32px;
border-radius: 6px;
background-color: #f3f3f3;
}
.options-menu {
    font-weight: bold;
    font-size: 16px;
}
.project-options{
    display: flex;
    justify-content: space-around;
    >i {
        margin-left: 5px;
    }
}
.delete-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    > h3 {
        font-family: 'Tajawal';
        font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #222222;
        margin-top: 15px;
    }
    > p {
        font-family: 'Tajawal';
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.69;
        letter-spacing: normal;
        text-align: center;
        color: #ababab;
    }
    .delete-icon {
        width: 82px;
        height: 82px;
        background-color: #ff6565;
        color: #fff;
        font-size: 28px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .modal-btns {
        display: flex;
        .del-btn {
            width: 140px;
            height: 35px;
            border-radius: 6px;
            background-color: #ff6565;
            font-family: 'Tajawal';
            font-size: 14px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.57;
            letter-spacing: normal;
            text-align: center;
            color: #ffffff;
            margin-left: 10px;
        }
        .cancel-btn {
            width: 140px;
            height: 35px;
            border-radius: 6px;
            background-color: #3b3b3b;
            font-family: 'Tajawal';
            font-size: 14px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.57;
            letter-spacing: normal;
            text-align: center;
            color: #ffffff;

        }

    }
}
.applicant-num-mob {
    display: none
}
.new-job-btn-mob{
    display: none;
}
.project-panel {
    margin-bottom: 20px;
}

.spinner-loading {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 300px !important ;
    background: transparent !important;
}
.projects-collapse .spinner-loading {
    background: transparent !important;
}


@media (max-width:320px) {
    .company-projects {
        margin: 0px;
   }

   .projects-header {
       display: none !important;
   }
   .company-project .project-header{
    display: none !important;
}
.panel-mob {
    padding-right: 10px;
    display: block !important;
}
.applicant-num-mob {
    display: block
}
.projects-collapse{
    margin-top: 70px !important;
}
.new-job-btn-mob{
    display: block;
    background: #3498d4 !important;
    float: right !important;
    margin-top: 20px !important;
}
}

@media (min-width: 321px) and (max-width:768px) {
    .company-projects {
         margin: 0px;
    }
    .projects-header {
        display: none !important;
    }
    .company-project .project-header{
        display: none !important;
    }
    .panel-mob {
        padding-right: 10px;
        display: block !important;
    }
    .applicant-num-mob {
        display: block
    }
    .projects-collapse{
        margin-top: 70px !important;
    }
    .new-job-btn-mob{
        display: block;
        background: #3498d4 !important;
        float: right !important;
        margin-top: 20px !important;
    }
}