.com-questions{
    display: flex;
    flex-direction: column;
    align-items: center;
    h3.com-title {
        font-family: 'Tajawal';
        font-size: 28px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #1f1f1f;
    }
    .questions{
        width: 744px;
    height: auto;
    border-radius: 10px;
    background-color: #ffffff;
    flex-direction: column;
    align-items: center;
    .question{
        background-color: #ffffff;
    }
}
}
.cQues-collapse {
    border-radius: 5px !important;
    background-color: #ffffff !important;
    margin-top: 10px !important;
    border: none !important;
    >.qus-name {
        border-bottom: none !important;
        background: #fff !important;
        border-radius: 5px !important;
        box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.14);
        margin-bottom: 15px;
        padding: 5px 20px;
        text-align: right;
        font-size: 17px !important;
      >.ques-title {
          color: #18233d !important;
          border-top: none !important;
          p{

              margin-bottom: 0 !important;
          }
      }
    }
  }
.ant-collapse-item.ant-collapse-item-active.qus-name {
    background: #18233d !important;
    .ques-title{
        color: #fff;
        font-size: 17px;
        margin-bottom: 0 !important;
        >div {
            color: #fff !important ;
        }
    }
}
.qus-name{
    > .ques-title { 
         margin-bottom: 0 !important;
        > div {
            right: -5px !important;
            left: auto !important; 
            border-radius: 0 !important;
            border:none !important; 
            width: auto !important; 
            height: auto !important; 
            display: initial !important; 
            background: transparent !important;
            margin-left: 10px !important;
            color: #18233d !important;
            font-size: 20px !important;
        }
    }
}
.qus-reply{
    font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: normal;
  text-align: right;
  color: #35b37d;

}
.send-btn {
    width: 140px;
    height: 40px;
    border-radius: 4px;
    background-color: #18233d;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.45;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.questions-form {
    height: 290px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media(max-width:320px){
    .com-questions .questions{
        width: 300px;
    }
    .com-questions .questions .question{
        margin: 0;
    }
    .ant-collapse-content.ant-collapse-content-inactive{
        width: 300px;
    }
}
@media (min-width:321px) and (max-width:768px){
    .com-questions .questions{
        width: 344px;
        margin: 0;
    }
    .com-questions .questions .question{
        margin: 0;
    }
    .ant-collapse-content.ant-collapse-content-inactive{
        width: 340px;
    }
}