
.company-progress{
    display: flex;
    margin-top: 25px;
    .opened-projects{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 275px;
        height: 112px;
        border-radius: 7px;
        box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.07);
        background-color: #008bbc;
        margin-left: 20px;
        font-family: DINNextLTW23;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: right;
        color: #ffffff;
    }
    .total-offers{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 275px;
        height: 112px;
        border-radius: 7px;
        box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.07);
        background-color: #009ad0;
        margin-left: 20px;
        font-family: DINNextLTW23;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: right;
        color: #ffffff;
    }
    .user-hired{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 275px;
        height: 112px;
        border-radius: 7px;
        box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.07);
        background-color: #34add9;
        margin-left: 20px;
        font-family: DINNextLTW23;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;

    }
    .user-rejected {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 275px;
        height: 112px;
        border-radius: 7px;
        box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.07);
        background-color: #68c3e3;
        font-family: DINNextLTW23;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }
}
.right-section{
    margin-top: 17px;
    margin-left: 20px;
    
}
.update-profile-btn{
        width: 287px;
        height: 55px;
        border-radius: 6px;
        box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.07);
        background-color: #3b3b3b;
        margin-top: 20px;
        font-family: DINNextLTW23;
        font-size: 14px;
        font-weight: bold;
        color:#fff;
        cursor: pointer;
    }
.company-left-section h2 {
    font-family: DINNextLTW23;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: right;
    color: #000000;
    margin-top: 30px;
}
.projects-offers-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 863px;
    height: 38px;
    border-radius: 5px;
    box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.07);
    background-color: #ffffff;
}
.project-offer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 863px;
    height: 87px;
    border-radius: 5px;
    box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.07);
    background-color: #ffffff;
    margin-top: 10px;
    .project-offer-title {
        width: 125px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.more-projects-offers-btn {
    display: block;
    margin: auto;
    margin-top: 70px !important;
    width: 140px;
    height: 35px;
    border-radius: 6px;
    background-color: #3b3b3b;
    font-family: DINNextLTW23;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.applicants-num {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 32px;
    border-radius: 6px;
    background-color: #f3f3f3;
}

@media (max-width:320px) {
    .user-home {
        padding: 12px 15px;
        .user-profile {
            display: block;
        }
    }
    .company-progress {
        // flex-direction: column;
        >div {
            margin-bottom: 10px;
        }
        .opened-projects, .total-offers, .user-hired, .user-rejected {
            width: auto;
            flex-direction: column;
            margin-left: 10px;
            text-align: center;
            .user-stc-number{
                font-size: 14px;
            }
        }
    }
    .projects-offers-header {
        display: none
    }
    .project-offer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 5px;
         height: auto; 
         width: auto;
         padding-right: 20px;
         .project-offer-title {
             width: auto;
             font-weight: bold;
             font-size: 16px;
         }
         .project-status {
            color: #1890ff;
            font-weight: bold;
        }     
    }
   
    .update-profile-btn{
        display: none;
    }
    .user-header{
        // display: none
    }
    .company-info {
        width: auto !important; 
        height: auto !important;
        padding-bottom: 20px !important;
   }
   .more-projects-offers-btn {
    margin-top: 20px !important;
    background-color: #008bbc;
   }
}
    
@media (min-width:321px) and (max-width:768px) {
    .user-home {
        padding: 12px 15px;
        .user-profile {
            display: block;
        }
    }
    .company-progress {
        // flex-direction: column;
        >div {
            margin-bottom: 10px;
        }
        .opened-projects, .total-offers, .user-hired, .user-rejected {
            width: auto;
            flex-direction: column;
            margin-left: 10px;
            text-align: center;
            .user-stc-number{
                font-size: 14px;
            }
        }
    }
    .projects-offers-header {
        display: none
    }
    .project-offer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 5px;
        height: auto;
        width: auto;
        padding-right: 20px;
        .project-offer-title {
            width: auto;
            font-weight: bold;
            font-size: 16px;
        }
        .project-status {
        color: #1890ff;
        font-weight: bold;
        }
    }


    .update-profile-btn{
        display: none;
    }
    .user-header {
        // display: none
    }
    .company-info {
         width: auto !important; 
         height: auto !important;
         padding-bottom: 20px !important;
    }
    .more-projects-offers-btn {
        margin-top: 20px !important;
        background-color: #008bbc;
       }
      
}
    