.updating-container {
    display: flex;
    justify-content: center;
    
}
.profile-updating {
    width: 948px;
    // height: 1251px;
    border-radius: 10px;
    box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.07);
    background-color: #ffffff;
    margin: 50px 0;
    padding: 60px 113px;
}
.updating-form .section-heading .div .div{
    right: auto;
    left: 5px;
    border-radius: 50%;
    border: solid 1px #f3f3f3;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f3f3f3;
}
.ant-collapse-borderless > .ant-collapse-item {
    border-bottom: none;
}

.cv-personal-info{
    display: flex;
    .right-side{
        margin-left: 20px;
    }
}
.title-field{
    font-family: 'Tajawal';
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: right;
    color: #b5b5b5;
}
.input-field{
    width: 341px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #d9d9d9 !important;
  background-color: #fdfdfd;
  margin-bottom: 12px;
}
.ant-select-selection{
    border-top-width: 0;
}
.textarea-field{
    border-radius: 4px;
    border: solid 1px #d9d9d9;
    background-color: #fdfdfd;
}
.section-heading{
    font-family: 'Tajawal';
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: right;
  color: #000000;
  padding-top: 45px;
}
.upload-img-btn{
    width: 151px;
  height: 35px;
  border-radius: 6px;
  box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.07);
  background-color: #3b3b3b;
  font-family: 'Tajawal';
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  display: block;
  margin: auto;
}
 .first-section{
    display: flex;

}
.general-skills {
  
    display: flex;
   
    // justify-content: space-around;
    >i {
        font-size: 25px;
    }
}
.avatar-uploader{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ant-upload.ant-upload-select-picture-card{
    border-radius: 50%;
}
.collapse-line{
    border: solid 1px #f3f3f3;
    position: absolute;
    width: 75%;
    height: 1px;
    top: 69px;
    right: 141px;
}
.ant-collapse-item.ant-collapse-item-active.section-heading{
    position: relative;
}
.save-changes-btn {
    display: block;
    margin: auto;
    width: 191px;
    height: 35px;
    border-radius: 6px;
    background-color: #3598d4;
    font-family: 'Tajawal';
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-top: 50px !important;
    cursor: pointer;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-file-input::before {
    content: ' + رفع صورة شخصية';
    width: 170px;
    text-align: center;
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
  }
  .custom-file-input:hover::before {
    border-color: black;
  }
  .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }

@media (max-width:320px) {
    .collapse-line{
        width: 35%;
    }
    .profile-updating {
        width: 300px;
        padding: 10px 0px;
        margin: 0;
     }
     .input-field{
        width: 250px; 
    }
    .upload-img-btn{
        width: auto;
    }
    .personal-info {
        padding: 10px 20px;
        height: auto;
        border-radius: none; 
        box-shadow: none;
    }
    .user-home .user-profile .right-section .update-profile-btn {
        margin: auto;
       display: block;
       margin-top: 20px !important;
       height: 40px;
    }
    .updating-container{
        margin: 40px 0;
    }
    .input-filed-mob {
        width: 150px !important;
    }
    .cv-personal-info{
        flex-direction: column;
    }
    .first-section{
        flex-direction: column;
    }
    .general-skills {
      flex-direction: column;
    }    
}

@media (min-width:321px) and (max-width:768px) {
    .collapse-line{
        width: 45%;
    }
    .profile-updating {
        width: 350px;
        padding: 10px 0px;
        margin: 0;
     }

     .input-field{
        width: 300px; 
    }
    .upload-img-btn{
        width: auto;
    }
    .personal-info {
        padding: 10px 20px;
        height: auto;
        border-radius: none; 
        box-shadow: none;
    }
    .user-home .user-profile .right-section .update-profile-btn {
        margin: auto;
       display: block;
       margin-top: 20px !important;
       height: 45px;
    }
    .updating-container{
        margin: 40px 0;
    }
    .input-filed-mob {
        width: 150px !important;
    }
    .cv-personal-info{
        flex-direction: column;
    }
    .first-section{
        flex-direction: column;
    }
    .general-skills {
      flex-direction: column;
    }   

}