.company-project {
    border-radius: 5px;
    background-color: #ffffff;
    .project-header {
        display: flex !important;
        justify-content: space-around !important;
        border-bottom: solid 1px #e7e7e7;
        >h3 {
            font-size: 14px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.71;
            letter-spacing: normal;
            text-align: center;
            color: #a6a6a6;
            width: 100%;
        }
        > h3:nth-child(5){
            width: 30%;
        }
    }
}
.lock-modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
.modal-btns {
    display: flex;
    .lock-btn {
        width: 140px;
        height: 35px;
        border-radius: 6px;
        background-color: #008000bf;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.57;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        margin-left: 10px;
    }
    .cancel-btn {
        width: 140px;
        height: 35px;
        border-radius: 6px;
        background-color: #3b3b3b;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.57;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;

    }

}

.project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    >h4 {
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.71;
        letter-spacing: normal;
        text-align: center;
        color: #000000;
        width: 100%;
    }
    > div {
        width: 100%;
        text-align: center;
        .applicants-btn {
            width: 107px;
            height: 32px;
            border-radius: 6px;
            background-color: #636363;
            font-size: 14px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.71;
            letter-spacing: normal;
            text-align: center;
            color: #ffffff;
        }
        .accepted-btn {
            width: 107px;
            height: 32px;
            border-radius: 6px;
            background-color: #3b96d9;
            font-size: 14px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.71;
            letter-spacing: normal;
            text-align: center;
            color: #ffffff;
        }
    }
    >div:nth-child(5) {
        width: 30%;
    }
    .project-num-mob, .project-date-mob {
        display: none;
    }
}
.applicants-btn-mob, .accepted-btn-mob {
    display: none;
}

@media (max-width:320px) {
   .company-project .project-header{
    display: none !important;
  }
  .project {
    display: block;
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 15px;
    .project-num-mob, .project-date-mob {
      display: block;
  }
  >h4:nth-child(1) {
    font-weight: bold;
    text-align: right;
}
>h4 {
    width: 100%;
}

  }
  .applicants-btn, .accepted-btn {
    display: none;
}
.applicants-btn-mob {
    display: block;
    width: 140px;
    height: 32px;
    border-radius: 6px;
    background-color: #636363;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.accepted-btn-mob {
    display: block;
    width: 140px;
    height: 32px;
    border-radius: 6px;
    background-color: #3b96d9;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.date-mob, .num-mob {
    display: flex;
}
  .projects-collapse > div > div {
    border-top: 1px solid #f3f3f3 !important;
    padding: 10px 0 !important;
}
.btns-mob {
    display: flex
}
}

@media (min-width: 321px) and (max-width:768px) {
    .company-project .project-header{
        display: none !important;
    }
    .project {
        display: block;
        border-bottom: 1px solid #f4f4f4;
        padding-bottom: 15px;
        .project-num-mob, .project-date-mob {
            display: block;
        }
        >h4:nth-child(1) {
            font-weight: bold;
            text-align: right;
        }
        >h4 {
            width: 100%;
        }
    }
    .applicants-btn, .accepted-btn {
        display: none;
    }
    .applicants-btn-mob {
        display: block;
        width: 140px;
        height: 32px;
        border-radius: 6px;
        background-color: #636363;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.71;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }
    .accepted-btn-mob {
        display: block;
        width: 140px;
        height: 32px;
        border-radius: 6px;
        background-color: #3b96d9;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.71;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }
    .date-mob, .num-mob {
        display: flex;
    }
    .projects-collapse > div > div {
        border-top: 1px solid #f3f3f3 !important;
        padding: 10px 0 !important;
    }
    .btns-mob {
        display: flex
    }
}