.company-login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f3f3;
    // height: auto;
    width: 100%;
}