.works-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    .title {
        font-size: 50px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.48;
        letter-spacing: normal;
        text-align: center;
        color: #00263e;
        padding-top: 45px;
    }
   >div >div {
    margin-right: 180px;
   } 
}
.ant-tabs-nav .ant-tabs-tab {
    width: 500px;
    text-align: right;
    margin: 0 30px;
}
.tab-row {
    padding: 0 150px;
}
.tab-content {
        padding-top: 50px;
        padding-right: 20px;
        height: 350px;
        .title {
            font-size: 40px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.48;
            letter-spacing: normal;
            text-align: right;
            color: #00263e;
        }
        .desc {
            font-size: 24px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.46;
            letter-spacing: normal;
            text-align: right;
            color: #00263e;
        }
}
.w-tabs{
    width: 100%;
}
@media (max-width:320px) {
    .works-section {
        .title {
            font-size: 30px;
        }
        >div >div {
            margin-right: 10px;
           } 
    }
    .tab-content {
        padding-top: 10px;
        height: auto;
        .title {
            font-size: 17px;
        }
        .desc {
            font-size: 12px;
        }
    }
    .tab-img {
        width: 152px;
        height: 127px;
    }
    .ant-tabs-nav .ant-tabs-tab {
        width: 140px;
        text-align: center;
        margin: 0;
    }
    .w-tabs{
        width: 95%;
    }
    .tab-row {
        padding: 0;
    }
}

@media (min-width:321px) and (max-width:768px){
    .works-section {
        .title {
            font-size: 30px;
        }
        >div >div {
            margin-right: 10px;
           } 
    }
    .tab-content {
        padding-top: 10px;
        height: auto;
        .title {
            font-size: 17px;
        }
        .desc {
            font-size: 12px;
        }
    }
    .tab-img {
        width: 152px;
        height: 127px;
        margin-top: 20px;
    }
    .ant-tabs-nav .ant-tabs-tab {
        width: 160px;
        text-align: center;
        margin: 0;
    }
    .w-tabs{
        width: 95%;
    }
    .tab-row {
        padding: 0;
    }
}