.works-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    .title {
        font-size: 50px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.48;
        letter-spacing: normal;
        text-align: center;
        color: #00263e;
        padding-top: 45px;
    }
}
.ant-tabs-nav .ant-tabs-tab {
    width: 500px;
    text-align: right;
}
.tab-content {
        padding-top: 50px;
        padding-right: 20px;
        height: 350px;
        .title {
            font-size: 40px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.48;
            letter-spacing: normal;
            text-align: right;
            color: #00263e;
        }
        .desc {
            font-size: 24px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.46;
            letter-spacing: normal;
            text-align: right;
            color: #00263e;
        }
}
@media (max-width:320px){
    .contracts-container{
        display: flex;
        flex-direction: column;
         justify-content: center;
         align-items: center;
    }
    .contracts .cont-title {
        margin-right: 0;
    }
    .contract{
        width: 300px;
        margin-right: 0px;  
        margin-bottom: 20px;         
       }
}

@media (min-width:321px) and (max-width:768px){

    .contracts {
        .contracts-container{
            display: flex;
            flex-direction: column;
             justify-content: center;
             align-items: center;
        }
    
    .cont-title {
        margin-right: 0;
    }
}
.contract{
    width: 300px;
 margin-right: 0px; 
 margin-bottom: 20px;          
}

}