.services{
    margin-top: 60px;
    margin-bottom: 30px;
    padding: 0 125px;
}
.services-tabs{
    padding-left: 60px;
   .title{
    font-size: 50px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.48;
    letter-spacing: normal;
    text-align: right;
    color: #18233d;
    text-decoration: underline;
    text-decoration-color: #049ad0;
   }
   .desc{
    font-size: 28px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: right;
    color: #18233d;
   }
}
.ant-tabs-tabpane.ant-tabs-tabpane-active {
    text-align: right;
    color: #18233d;
    font-size: 20px;
    font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
} 
.ant-tabs-bar.ant-tabs-top-bar {
    float: right;
    color: #18233d;
    font-size: 20px;
}
.ant-tabs-tab {
    color: #18233d !important;
    font-size: 20px !important;
}
.works-tab >div >div >div >div >div >div >div {
    width: auto !important;
}
.tag-title {
    font-size: 28px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: right;
    color: #049ad0;
    margin-bottom: 0;
}
.tag {
    font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: normal;
  text-align: right;
  color: #18233d;
}

@media(max-width:320px) {
    .services {
        display: flex;
        flex-direction: column-reverse;
        padding: 10px 20px;
       }
       .services-tabs {
       padding-left: 0;
           .title{
               font-size: 25px;
               text-align: center;
           }
           .desc {
               font-size: 15px;
               text-align: center;
           }
       }
       .ant-tabs-tab {
        font-size: 15px !important;
    }
    .ant-tabs-bar.ant-tabs-top-bar {
        font-size: 16px;
    }
    .ant-tabs-nav .ant-tabs-tab {
        padding: 12px 15px;
    }
}
@media (min-width:321px) and (max-width:768px){
   .services {
    display: flex;
    flex-direction: column-reverse;
    padding: 10px 20px;
   }
   .services-tabs {
       padding-left: 0;
    .title{
        font-size: 30px;
        text-align: center;
    }
    .desc {
        font-size: 17px;
        text-align: center;
    }
}
.ant-tabs-tab {
    font-size: 18px !important;
}
.ant-tabs-bar.ant-tabs-top-bar {
    font-size: 18px;
}
.ant-tabs-nav .ant-tabs-tab {
    padding: 12px 20px;
}
}