.services{
    margin-top: 60px;
    margin-bottom: 30px;
    padding: 0 125px;
}
.services-content{
    padding-left: 60px;
   .title{
    font-size: 50px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.48;
    letter-spacing: normal;
    text-align: right;
    color: #18233d;
    text-decoration: underline;
    text-decoration-color: #049ad0;
    text-underline-position: under;
    margin-top: 30px;
   }
   .desc{
    font-size: 28px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: right;
    color: #18233d;
   }
}
.ant-tabs-tabpane.ant-tabs-tabpane-active {
    text-align: right;
    color: #18233d !important;
    font-size: 20px;
    font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
} 
.ant-tabs-bar.ant-tabs-top-bar {
    float: right;
}

.ant-tabs-nav .ant-tabs-tab-active {
    color: #049ad0 !important;
}
.works-tab >div{   
    border-bottom: none;
    >div >div >div >div >div >div {
        width: auto !important;
        color: #18233d !important;
        font-size: 28px !important;

    }
}
.ant-tabs-top .ant-tabs-ink-bar-animated, .ant-tabs-bottom .ant-tabs-ink-bar-animated {
    background-color: #049ad0;
}
.tag-title {
    font-size: 28px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: right;
    color: #049ad0;
    margin-bottom: 0;
}
.tag {
    font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: normal;
  text-align: right;
  color: #18233d;
}
.tag-link {
    font-size: 28px;
    color: #18233d;
}

@media(max-width:320px) {
    .services {
        display: flex;
        flex-direction: column-reverse;
        padding: 10px;
       }
       .services-content {
       padding-left: 0;
           .title{
               font-size: 25px;
               text-align: center;
               margin-top: -30px;
           }
           .desc {
               font-size: 15px;
               text-align: center;
           }
       }
       .ant-tabs-tab {
        font-size: 15px !important;
    }
    .ant-tabs-bar.ant-tabs-top-bar {
        font-size: 16px;
    }
    .ant-tabs-nav .ant-tabs-tab {
        padding: 12px 13px;
    }
    .works-tab >div{   
        >div >div >div >div >div >div {
            font-size: 16px !important;
    
        }
    }
    .ant-tabs-tabpane.ant-tabs-tabpane-active {
        font-size: 14px;
    } 
    .tag-title {
        font-size: 16px;
        margin-top: 5px;
    }
    .tag{
        font-size: 15px;
    }
    .tag-icon {
        width: 22.6px;
        height: 24.4px;
    }
    .tag-link {
        font-size: 18px;
    }
    .services-tabs {
        padding: 0 10px;
        // padding-right: 20px;
    }
    
}
@media (min-width:321px) and (max-width:768px){
   .services {
    display: flex;
    flex-direction: column-reverse;
    padding: 10px;
   }
   .services-content {
       padding-left: 0;
    .title{
        font-size: 30px;
        text-align: center;
        margin-top: -30px;
    }
    .desc {
        font-size: 17px;
        text-align: center;
    }
}
.ant-tabs-tab {
    font-size: 18px !important;
}
.ant-tabs-bar.ant-tabs-top-bar {
    font-size: 18px;
}
.ant-tabs-nav .ant-tabs-tab {
    padding: 12px 18px;
}
.works-tab >div{   
    >div >div >div >div >div >div {
        font-size: 20px !important;

    }
}
.ant-tabs-tabpane.ant-tabs-tabpane-active {
    font-size: 16px;
} 
.tag-title {
    font-size: 20px;
    margin-top: 5px;
}
.tag{
    font-size: 17px;
}
.tag-icon {
    width: 22.6px;
    height: 24.4px;
}
.tag-link {
    font-size: 20px;
}
.services-tabs {
    padding: 0 10px;
    // padding-right: 20px;
}


}