.ant-table-wrapper {
    width: 95%;
    background-color: white;
    margin-top: 22px;
    margin: 0 10px;
}
.add-job{
    padding: 5px;
    margin: 5px;
}
.gender{
    margin: 10px;
    font-size: 16px;
}
.job-information{
    padding: 5px;
    margin: 5px;
}
.work-days{
    margin-right: 18px
}
.job-activate{
    margin-right: 18px
}
button.ant-modal-close {
    left: 0 !important;
    right: auto;
}