.ant-table-wrapper {
    width: 95%;
    background-color: white;
    margin-top: 22px;
    margin: 0 10px;
}
.add-job{
    padding: 5px;
    margin: 5px;
}
.gender{
    margin: 10px;
    font-size: 16px;
}
.job-information{
    padding: 5px;
    margin: 5px;
}
.work-days{
    margin-right: 18px
}
.job-activate{
    margin-right: 18px
}
button.ant-modal-close {
    left: 0 !important;
    right: auto;
}
.ads-search {
    display: flex;
    margin: 15px;
    margin-top: 50px;
    background-color: white;
    border: 2px solid white;
    border-radius: 25px;
    padding: 25px;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.ads-images-container{
    display: flex;
    position: relative;
}
.search-icon{
    width: 40px;
    height: 30px;
    background-color: #1890ff;
}
.ads-add-icon {
    width: 80px;
    margin: 22px 40px 10px 10px;
}
.search-button{
    position: absolute;
    left: 15px;
    width: 60px;
    height: 35px;
    background-color: #1890ff;
}
.ant-table-wrapper {
    width: 100%;
    background-color: white;
    margin-top: 22px;
    margin: 0 10px;
}