.company-sign {
    .steps-form .form-content {
        padding: 42px 65px 0 0;
    }
    .steps-form {
        height: auto;
        padding-bottom: 50px;
    }
    .steps-header {
        width: 600px;
        span:nth-child(2) {
            margin-right: 20px;
        }
    }
    .single-input {
        margin: 5px 0;
        max-width: 450px;
        width: 100%;
        height: 39px;
    }
    .ant-select {
        margin: 5px 0;
       & div {
        width: 450px;
        // width: 100%;
        height: 39px;
       } 
    }
    .info-label {
        margin-top: 5px;
    }
}
@media (max-width: 768px) and (min-width: 321px) {
    .company-sign {
        .steps-form .form-content {
            padding: 30px 13px;
        }
        .single-input {
            margin: 5px 0;
            width: 300px;
            height: 39px;
        }
        .ant-select {
            margin: 5px 0;
           & div {
            width: 300px;
            // width: 100%;
            height: 39px;
           } 
        }

    }

}