.statistic{
    display: flex;
    flex-direction: column;
    margin: 15px;
    margin-top: 50px;
    background-color: white;
    border: 2px solid white;
    border-radius: 25px;
    padding: 25px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.dashboard-container{
    background-color: #f8f9fe;
    height: 100vh;
}
.sidebar{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.sidebar-title{
    font-size: 26px;
    // border-bottom: solid 2px;
    height: 100px;
}
.sidebar-elm{
    font-size: 20px;
    height: 60px;
    color: black;
}
.admin-logo > img{
    height: 100px;
    widows: 100px;
}

.wrapp-container{
    display: flex;
    justify-content: center;
}
.dropdown-menu{
    padding: 9px;
}
.header{
    height: 60px;
    padding-top: 10px;
    border-bottom: solid 1px #ced4da;
   
}
.header-title{
    padding: 20px;
    font-size: 26px;

}
.logout{
    float: left;
    background-color: #40a9ff;
    color: white;
    margin-left: 50px;
    margin-top: 5px;
}
.submit{
    background-color: #40a9ff;
    color: white; 
    margin-top: 10px;
}
.submit :hover{
    background-color: #40a9ff;
    color: white; 
}