.contracts {
    margin-top: 30px;
    .contracts-container{
        display: flex;
         justify-content: center;
    }
.cont-title{
    font-family: DINNextLTW23;
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #1f1f1f;
    margin-bottom: 30px;
    margin-right: 50px;
}}
.contract{
    width: 342px;
  height: 276px;
  border-radius: 8px;
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.09);
  background-color: #ffffff;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 60px;
    .cnt-sub-title{
        font-family: DINNextLTW23;
        font-size: 18px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #1f1f1f;
        padding-top: 24px;
    }
    .cnt-des{
        font-family: DINNextLTW23;
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #999999;
        margin: 10px 20px;
    }
}

@media (max-width:320px){
    .contracts-container{
        display: flex;
        flex-direction: column;
         justify-content: center;
         align-items: center;
    }
    .contracts .cont-title {
        margin-right: 0;
    }
    .contract{
        width: 300px;
        margin-right: 0px;  
        margin-bottom: 20px;         
       }
}

@media (min-width:321px) and (max-width:768px){

    .contracts {
        .contracts-container{
            display: flex;
            flex-direction: column;
             justify-content: center;
             align-items: center;
        }
    
    .cont-title {
        margin-right: 0;
    }
}
.contract{
    width: 300px;
 margin-right: 0px; 
 margin-bottom: 20px;          
}

}