.home-page-header{
    padding-top: 0px;
    position: relative;
    display: flex;
    .img{
        height: 735px;
        width: 100vw;
    }
    .right-side{
        display: flex;
        position: absolute;
        right: 135px;
        top: 19px;

        .navbar{
            display: flex;
            // padding-top: 8px;
        }
        .navbar >a{
            padding: 8px 40px 0 0;
            font-size: 16px;
            color: #fff;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            font-family: "DINNextLTW23";
        }
    }
    .left-side{
        display: flex;
        position: absolute;
        left: 100px;
         top: 18px;
    .company-login-btn{
        width: 168px;
        height: 40px;
        font-family: DINNextLTW23;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        background: transparent;
        border-radius: 5px;
        border: solid 2px #ffffff;
    }
    .employeer-login-btn{
        width: 168px;
        height: 40px;
        font-family: DINNextLTW23;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        background: transparent;
        border-radius: 5px;
        border: solid 2px #ffffff;
        margin-left: 20px;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .employeer-login-btn:hover{
        color: #09253f;
        background: #fff;
        cursor: pointer;
    }
    .company-login-btn:hover{
        color: #09253f;
        background: #fff;
        cursor: pointer;
    }

    }
    .middle-side{
        position: absolute;
        top: 254px;
        right: 136px;
        .title{
            color: #fff;
            font-family: DINNextLTW23;
            font-size: 34px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
        }
        .description{
            width: 446px;
            color: #fff;
            font-family: DINNextLTW23;
            font-size: 16px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.38;
            letter-spacing: normal;
            text-align: right;
        }
        .start-now-btn{
            width: 184px;
            height: 40px;
            border-radius: 5px;
            background-color: #359b36;
            font-family: DINNextLTW23;
            font-size: 14px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #ffffff;
            border-color: #359b36;
        }
    }
}
.drawer-mobile{
    display: none;
}
.user-header{
    height: 76px;
    box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.07);
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .user-right-side {
        padding-right: 135px;
        >a{
            font-family: DINNextLTW23;
            font-size: 16px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #343434;
            padding-right: 40px;
        }
    }
    .user-left-side{
        display: flex;
        padding-left: 135px;
        position: relative;
        .user-header-btn{
            margin-right: 29px;
            width: 80px;
            font-family: DINNextLTW23;
            font-size: 16px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #343434;
            background: transparent;
            border-color: transparent;
            box-shadow: 0 2px 11px 0 #fff;

            
        }
       .my-account-btn {
        height: 32px;
        border-radius: 6px;
        color: #fff;
        background-color: #3b96d9;
        margin-right: 29px;
        width: 80px;
        font-family: DINNextLTW23;
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
       } 

    }
}
.plus-icon{
    color: #fff;
    padding-left: 6px;
}
.notifications-dropdown{
  width: 356px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  z-index: 1000;
  position: absolute;
  top: 70px;
  left: 240px;
  >h5 {
    font-family: DINNextLTW23;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #a8a8a8;
    margin: 10px;
  }
  .notification-drop-menu {
    background-color: #f9f9f9;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 15px;
    margin-top: 5px;
  }
}
.more-notification-btn {
    display: block;
    margin-top: 20px;
    margin-bottom: 17px;
    cursor: pointer;
    font-family: DINNextLTW23;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}
.new-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
}
.new-ad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.p-heading {
    font-family: DINNextLTW23;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #222222;
    padding-top: 40px;
}
.p-description {
    font-family: DINNextLTW23;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #ababab;
}

.new-project-form {
    padding: 28px 55px;
    >label {
    font-family: DINNextLTW23;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: right;
    color: #b5b5b5;
}
>input {
    margin-top: 10px;
    border-radius: 4px;
  border: solid 1px #d9d9d9;
  background-color: #fdfdfd;

}
>textarea {
    margin-top: 10px;
    border-radius: 4px;
  border: solid 1px #d9d9d9;
  background-color: #fdfdfd;

}
}
.new-project-btn, .ad-next-btn {
  display: block;
  margin: auto;
  width: 234px;
  height: 35px;
  border-radius: 6px;
  background-color: #3598d4;
  font-family: DINNextLTW23;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin-top: 40px !important;
}


.ad-modal {
    width: 713px !important;
  border-radius: 10px;

}
.ad-contract {
    display: flex;

}

.cont-type {
    width: 191px;
  height: 167px;
  border-radius: 5px;
  background-color: #f5f5f5;
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  >img {
      width: 50px;
      height: 50px;
      margin-bottom: 10px;
  } 
}

.add-project-popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 10000;
    top: 40px;
    width: 206px;
    height: 96px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
    border-radius: 15px;
    > div {
        font-family: DINNextLTW23;
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: right;
        color: #000000;
        border-bottom: solid 1px #e6e6e6;
        margin-bottom: 10px;
    }
}
.user-drawer-mobile{
    display: none;
}
.menu-mobile {
    display: none;
}

@media (max-width:320px){
    .home-page-header > img {
        height: 235px !important;
        width: 100% !important;
    }
    .home-page-header .right-side .navbar{
        display: none;
    }
    .home-page-header .right-side {
        right: 10px;
        >img{
            width: 100px;
            margin-right: 33px;
            // margin-top: 5px;
        }
    }
    .home-page-header .left-side {
        left: 10px;
    }
    .home-page-header .left-side .employeer-login-btn {
        width: 100px;
        height: 20px;
        font-size: 11px;
        font-weight: 100;
        margin-left: 3px;

    }
    .home-page-header .left-side .company-login-btn{
        width: 100px;
        height: 20px;
        font-size: 11px;
        font-weight: 100;
    }
    .home-page-header .middle-side {
        top: 64px;
        right: 25px;
        .title{
            font-size: 13px;
        }
        .description{
            width: 246px;
            font-size: 11px;
        }
        .start-now-btn{
            width: 100px;
            height: 30px;
            font-size: 11px;
        }
    }
    .drawer-mobile{
        display: flex;
        position: absolute;
        color: #fff;
        font-size: 28px;
    }
    .ant-drawer-header {
        background: #F3F3F3;
    }
    .ant-drawer-content-wrapper{
        width: 100% !important;
    }
    .ant-drawer-wrapper-body {
        background: #F3F3F3 !important;
    }
    .navbar-mobile{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        color: #fff;
        font-size: 18px;
    >a {
        color: #fff;
        margin-top: 20px;
        cursor: pointer;
        }
    }
    .user-drawer-mobile {
        display: flex;
        text-align: center;
        align-items: center;
        position: absolute;
        color: #3598d4;
        font-size: 28px;
        margin-top: 30px;
        margin-right: 25px;
    } 
    .user-header{
        display: none;
    }
    .navbar-user-mobile {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        justify-content: center;
        align-items: center;
        text-align: center;
        >a {
            color: #707070;
            font-size: 16px;
            margin-bottom: 10px;
            font-weight: bold;
            cursor: pointer;
            border-bottom: solid 0.1px #eaeaea;
        }
        >a:nth-child(6) {
            color: #707070;
            font-size: 16px;
            margin-bottom: 10px;
            font-weight: bold;
            border-bottom: none;
            // position: absolute;
             bottom: 30px;
        }
    }
    .drawer-title-con {
        display: flex;
        justify-content: space-between;
        padding: 0 10px 0 0;
        align-items: center;
        height: 40px;
    }
    .drawer-close {
        font-size: 26px !important;
        color: #009ad0 !important;
        }
        .menu-mobile{
            display: inline-block;
            background: #f3f3f3;
            margin-bottom: -5px;
            height: 50px;
        }
        .new-project {
            width: auto;
        }
        .ad-contract {
            flex-direction: column;
            >div {
                margin-bottom: 10px;
            }
        }
}
.offers-notification{
    position: absolute;
    top: 0;
    z-index: 10000;
    border-radius: 50%;
    background: #f44336;
    width: 20px;
    height: 20px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

@media (min-width:321px) and (max-width:768px){
    .home-page-header > img {
        height: 235px !important;
        width: 100% !important;
    }
    .home-page-header .right-side .navbar{
        display: none;
    }
    .home-page-header .right-side {
        right: 10px;
        >img{
            width: 100px;
            margin-right: 33px;
        }
    }
    .home-page-header .left-side {
        left: 10px;
    }
    .home-page-header .left-side .employeer-login-btn {
        display: none;
    }
    .home-page-header .left-side .company-login-btn{
        display: none;
    }
    .home-page-header .middle-side {
        top: 74px;
        right: 25px;
        .title{
            font-size: 13px;
        }
        .description{
            width: 246px;
            font-size: 11px;
        }
        .start-now-btn{
            width: 100px;
            height: 30px;
            font-size: 11px;
        }
    }
    .drawer-mobile{
        display: flex;
        position: absolute;
        color: #fff;
        font-size: 28px;
    }
    .ant-drawer-content-wrapper{
        width: 100% !important;
    }
    .ant-drawer-header {
        background: #F3F3F3;
    }
    .ant-drawer-wrapper-body{
        background: #F3F3F3 !important;
    }
    .navbar-mobile{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        color: #fff;
        font-size: 18px;
    >a {
        color: #3b3b3bc4;
        margin-top: 20px;
        cursor: pointer;
        border-bottom: solid 0.1px #eaeaea;
        width: 100%;
        padding-bottom: 10px;
        }
        a:nth-child(6) {
            color: #3b3b3bc4;
            margin-top: 20px;
            cursor: pointer;
            border-bottom: none;
            width: 100%;
            padding-bottom: 10px;
            }
    }
    .user-drawer-mobile {
        display: flex;
        text-align: center;
        align-items: center;
        position: absolute;
        color: #3598d4;
        font-size: 28px;
        margin-top: 30px;
        margin-right: 25px;
    } 
    .user-header{
        display: none;
    }
    .navbar-user-mobile{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        justify-content: center;
        align-items: center;
        text-align: center;
        >a {
            font-size: 16px;
            margin-bottom: 10px;
            font-weight: bold;
            color: #707070;
            cursor: pointer;
            border-bottom: solid 0.1px #eaeaea;
            width: 100%;
            padding-bottom: 10px;
        }
        >a:nth-child(6) {
            font-size: 16px;
            margin-bottom: 10px;
            font-weight: bold;
            color: #707070;
            cursor: pointer;
            border-bottom: none;
            width: 100%;
            padding-bottom: 10px;
            // position: absolute;
            bottom: 30px;
        }
      
    }
    .drawer-title-con {
        display: flex;
        justify-content: space-between;
        padding: 0 10px 0 0;
        align-items: center;
        height: 40px;
    }
    .drawer-close {
    font-size: 26px !important;
    color: #009ad0 !important;
    }
    .menu-mobile{
        display: inline-block;
        background: #f3f3f3;
        margin-bottom: -5px;
        height: 50px;
    }
    .new-project {
        width: auto;
    }
    .ad-contract {
        flex-direction: column;
        >div {
            margin-bottom: 10px;
        }
    }

}