.navbar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    box-shadow: 0 2px 10px 0 rgba(9, 14, 24, 0.1);
    background: #fff;

    .menu {
        display: flex;
        width: 40%;
        justify-content: space-around;
        align-items: center;
        >a {
            font-size: 18px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: left;
            color: #00263e;
        }

    }
    .options {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
        .login >div{
            width: 140px;
            height: 40px;
            border-radius: 4px;
            background-color: #0acc94;
            font-size: 18px !important;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: left;
            color: #f8fbff;
            >div {
                padding-top: 0px;
                margin-right: 10px;
            }
            > span {
            color: #fff !important;
            }
        }
    }
}
.select__indicator.select__dropdown-indicator.css-tlfecz-indicatorContainer {
    color: #00263e;
}
ul.ant-select-dropdown-menu.ant-select-dropdown-menu-root.ant-select-dropdown-menu-vertical{
    padding-bottom: 10px !important;
    text-align: right !important;
}
.select__value-container.select__value-container--has-value.css-g1d714-ValueContainer {
    padding-bottom: 7px;
}
.home-header {
    
    height: 700px;
    box-shadow: 0 5px 25px 0 rgba(4, 154, 208, 0.08);
    background-color: #f8fbff;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
}
.brief {
    padding-right: 120px;
    display: flex;
    flex-direction: column;
    .brief-title{
        font-size: 28px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: right;
        color: #18233d;
    }
    .brief-desc {
        font-size: 22px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.45;
        letter-spacing: normal;
        text-align: right;
        color: #18233d;
        margin-bottom: 50px;
    }
    .log-btn {
        background-color: #f8fbff;
        width: 200px;
        height: 48px;
        border-radius: 4px;
        border: solid 2px #18233d;
        font-size: 18px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: center;
        color: #18233d;
        cursor: pointer;
        margin-top: -30px;
        padding-bottom: 8px;
    }
    .log-btn:hover {
        color: #fff;
        background: #18233d;
        font-size: 18px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        cursor: pointer;
    }
}

.drawer-mobile{
    display: none;
}

.offers-notification{
    position: absolute;
    bottom: 8px;
    z-index: 10000;
    border-radius: 50%;
    background: #f44336;
    width: 20px;
    height: 20px;
    right: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.user-header{
    height: 76px;
    box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.07);
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .user-right-side {
        // padding-right: 135px;
        >a{
            
            font-size: 16px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #343434;
            padding-right: 40px;
        }
    }
    .user-left-side{
        display: flex;
        // padding-left: 135px;
        position: relative;
        .user-header-btn{
            margin-right: 29px;
            width: 80px;
            
            font-size: 16px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #343434;
            background: transparent;
            border-color: transparent;
            box-shadow: 0 2px 11px 0 #fff;

            
        }
       .my-account-btn {
        height: 32px;
        border-radius: 6px;
        color: #fff;
        background-color: #3b96d9;
        margin-right: 29px;
        padding-bottom: 5px;
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
       } 

    }
}
.plus-icon{
    color: #fff;
    padding-left: 6px;
}
.notifications-dropdown{
  width: 356px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  z-index: 1000;
  position: absolute;
  top: 70px;
  left: 240px;
  >h5 {
    
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #a8a8a8;
    margin: 10px;
  }
  .notification-drop-menu {
    background-color: #f9f9f9;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 15px;
    margin-top: 5px;
  }
}
.more-notification-btn {
    display: block;
    margin-top: 20px;
    margin-bottom: 17px;
    cursor: pointer;
    
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}
.new-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
}
.new-ad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.p-heading {
    
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #222222;
    padding-top: 40px;
}
.p-description {
    
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #ababab;
}

.new-project-form {
    padding: 28px 55px;
    >label {
    
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: right;
    color: #b5b5b5;
}
>input {
    margin-top: 10px;
    border-radius: 4px;
  border: solid 1px #d9d9d9;
  background-color: #fdfdfd;

}
>textarea {
    margin-top: 10px;
    border-radius: 4px;
  border: solid 1px #d9d9d9;
  background-color: #fdfdfd;

}
}
.new-project-btn, .ad-next-btn {
  display: block;
  margin: auto;
  width: 234px;
  height: 35px;
  border-radius: 6px;
  background-color: #3598d4;
  
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin-top: 40px !important;
}


.ad-modal {
    width: 713px !important;
  border-radius: 10px;

}
.ad-contract {
    display: flex;

}

.cont-type {
    width: 191px;
  height: 167px;
  border-radius: 5px;
  background-color: #f5f5f5;
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  >img {
      width: 50px;
      height: 50px;
      margin-bottom: 10px;
  } 
}

.add-project-popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 10000;
    top: 40px;
    width: 206px;
    height: 96px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
    border-radius: 15px;
    > div {
        
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: right;
        color: #000000;
        border-bottom: solid 1px #e6e6e6;
        margin-bottom: 10px;
    }
}
.user-drawer-mobile{
    display: none;
}
.menu-mobile {
    display: none;
}
.navbar-elm-active {
    text-decoration-line: underline;
    text-decoration-color: #049ad0;
    text-underline-position: under;
    color: #049ad0 !important;
    font-weight: bold !important;
}
.navbar-elm-active:hover {
    text-decoration-line: underline;
    text-decoration-color: #049ad0;
    text-underline-position: under;
    color: #049ad0 !important;
    font-weight: bold !important;
}

@media (max-width:320px) {
    .drawer-mobile{
        display: flex;
        height: 72px;
    box-shadow: 0 2px 10px 0 rgba(9, 14, 24, 0.1);
    background: #fff;
    align-items: center;
    >i {
        position: absolute;
        right: 20px;
        font-size: 30px;
    }
    >img {
        position: absolute;
        left: 20px;
        width: 100px;
    }
}
    .ant-drawer-header {
        background: #F3F3F3;
    }
    .ant-drawer-content-wrapper{
        width: 100% !important;
    }
    .ant-drawer-wrapper-body {
        background: #F3F3F3 !important;
    }
    .navbar-mobile{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        color: #fff;
        font-size: 18px;
    >a {
        color:  #3b3b3bc4 !important;
        margin-top: 20px;
        cursor: pointer;
        }
    >a:hover {
        color:  #3b3b3bc4 !important;
        }    
    }
    .user-drawer-mobile {
        display: flex;
        text-align: center;
        align-items: center;
        position: absolute;
        color: #3598d4;
        font-size: 28px;
        margin-top: 30px;
        margin-right: 25px;
    } 
    .user-header{
        display: none;
    }
    .navbar-user-mobile {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        justify-content: center;
        align-items: center;
        text-align: center;
        >a {
            color: #707070;
            font-size: 16px;
            margin-bottom: 10px;
            font-weight: bold;
            cursor: pointer;
            border-bottom: solid 0.1px #eaeaea;
        }
        >a:nth-child(6) {
            color: #707070;
            font-size: 16px;
            margin-bottom: 10px;
            font-weight: bold;
            border-bottom: none;
            // position: absolute;
             bottom: 30px;
        }
    }
    .drawer-title-con {
        display: flex;
        justify-content: space-between;
        padding: 0 10px 0 0;
        align-items: center;
        height: 40px;
    }
    .drawer-close {
        font-size: 26px !important;
        color: #009ad0 !important;
        }
        .menu-mobile{
            display: inline-block;
            background: #f3f3f3;
            margin-bottom: -5px;
            height: 50px;
        }
        .new-project {
            width: auto;
        }
        .ad-contract {
            flex-direction: column;
            >div {
                margin-bottom: 10px;
            }
        }
    .home-header {
        flex-direction: column;
        height: 350px;
        > div > img {
            display: none;
        }
    }
    .navbar{
        display: none !important;
    }  
    .brief {
        padding-right: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .brief-title{
            text-align: center;
            font-size: 18px;
        }
        .brief-desc {
            text-align: center;
            margin-bottom: 50px;
            font-size: 14px;
        }
        .log-btn {
            margin-top: -30px;
            background: transparent;
            padding-bottom: 10px;
            width: 261px;
        }
    }  
}


@media (min-width:321px) and (max-width:768px){
    .drawer-mobile {
        display: flex;
        height: 72px;
    box-shadow: 0 2px 10px 0 rgba(9, 14, 24, 0.1);
    background: #fff;
    align-items: center;
    >i {
        position: absolute;
        right: 20px;
        font-size: 30px;
    }
    >img {
        cursor: pointer;
        position: absolute;
        left: 20px;
        width: 120px;
    }
    }
    .ant-drawer-content-wrapper{
        width: 100% !important;
    }
    .ant-drawer-header {
        background: #F3F3F3;
    }
    .ant-drawer-wrapper-body{
        background: #F3F3F3 !important;
    }
    .navbar-mobile{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        color: #fff;
        font-size: 18px;
    >a {
        color: #3b3b3bc4 !important;
        margin-top: 20px;
        cursor: pointer;
        border-bottom: solid 0.1px #eaeaea;
        width: 100%;
        padding-bottom: 10px;
        }
        >a:hover {
            color:  #3b3b3bc4 !important;
            }  
        a:nth-child(6) {
            color: #3b3b3bc4;
            margin-top: 20px;
            cursor: pointer;
            border-bottom: none;
            width: 100%;
            padding-bottom: 10px;
            }
    }
    .user-drawer-mobile {
        display: flex;
        text-align: center;
        align-items: center;
        position: absolute;
        color: #3598d4;
        font-size: 28px;
        margin-top: 30px;
        margin-right: 25px;
    } 
    .user-header{
        display: none;
    }
    .navbar-user-mobile{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        justify-content: center;
        align-items: center;
        text-align: center;
        >a {
            font-size: 16px;
            margin-bottom: 10px;
            font-weight: bold;
            color: #707070;
            cursor: pointer;
            border-bottom: solid 0.1px #eaeaea;
            width: 100%;
            padding-bottom: 10px;
        }
        >a:nth-child(6) {
            font-size: 16px;
            margin-bottom: 10px;
            font-weight: bold;
            color: #707070;
            cursor: pointer;
            border-bottom: none;
            width: 100%;
            padding-bottom: 10px;
            // position: absolute;
            bottom: 30px;
        }
      
    }
    .drawer-title-con {
        display: flex;
        justify-content: space-between;
        padding: 0 10px 0 0;
        align-items: center;
        height: 40px;
    }
    .drawer-close {
    font-size: 26px !important;
    color: #009ad0 !important;
    }
    .menu-mobile{
        display: inline-block;
        background: #f3f3f3;
        margin-bottom: -5px;
        height: 50px;
    }
    .new-project {
        width: auto;
    }
    .ad-contract {
        flex-direction: column;
        >div {
            margin-bottom: 10px;
        }
    }
    .home-header {
        height: 350px;
        flex-direction: column;
        > div > img {
            display: none;
        }
    }
    .navbar{
        display: none !important;
    }
    .brief {
        padding-right: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .brief-title{
            text-align: center;
            font-size: 18px;
            font-weight: 600;
        }
        .brief-desc {
            text-align: center;
            margin-bottom: 50px;
            font-size: 14px;
        }
        .log-btn {
            margin-top: -30px;
            background: transparent;
            padding-bottom: 10px;
            width: 261px;
        }
    }

}