@font-face {
  font-family: "DINNextLTW23";
  src: url("/public/fonts/din-next-lt-w23-regular.ttf");
}
#root{
  height: 100%;
}
body{
  direction: rtl;
  // background-color: #f3f3f3;
  height: 100vh;
}
.App{
  height: 100%;
}
a{
  float: right;
}
.App-link {
  color: #61dafb;
}

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
