@font-face {
  font-family: "DINNextLTArabic";
  src: url("../fonts/ArbFONTS-DINNextLTArabic-Bold-2.ttf");
  src: url("../fonts/ArbFONTS-DINNextLTArabic-Regular-2.ttf");
  }
#root{
  height: auto;
}
body{
  direction: rtl;
  // background-color: #f3f3f3;
  height: 100vh;
  background: radial-gradient(#f3f3f3, #f3f3f3);
  font-family: 'DINNextLTArabic' !important;
}
.App{
  height: auto;
}
a{
  float: right;
}
.App-link {
  color: #61dafb;
}