.sectors {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 309px;
    background-color: #f8fbff;
    padding-top: 50px;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    .title {
        font-size: 50px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.48;
        letter-spacing: normal;
        text-align: center;
        color: #00263e;
    }
    .desc {
        width: 620px;
        font-size: 28px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: center;
        color: #18233d;
    }
}
.ant-carousel .slick-slide {
    text-align: center;
    height: 260px;
    line-height: 160px;
    background: transparent;
    overflow: hidden;
    direction: initial;
  }
  
  .ant-carousel .slick-slide h3 {
    color:#fff;
  }
.sector-carousel {
    direction: initial !important;
}
.ant-carousel .slick-dots-bottom {
    bottom: 25px !important;
}
.carousel-sector {
    height: 400px;
    box-shadow: 0 5px 25px 0 rgba(4, 154, 208, 0.08);
    background-color: #f8fbff;
    padding-top: 50px;
    margin-top: -20px;
    .slide-elm {
        width: 400px !important;
        height: 390px;
        border-radius: 10px;
        box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.1);
        background-color: #18233d;
        .elm-table 
        {
            display: flex;
            justify-content: center;
            >h6 {
                font-size: 16px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.45;
                letter-spacing: normal;
                text-align: center;
                color: #ffffff !important;
                border-radius: 100px;
                border: solid 1px rgba(255, 255, 255, 0.5);
                background-color: rgba(255, 255, 255, 0.04);
                padding: 5px;
                margin-left: 5px;
                margin-top: 5px;
                width: 100px !important;
            }
        }
    }
}
.ant-card-head{
    display: none;
}
@media(max-width:320px){
   .sectors{
    height: 458px;
    padding-top: 30px;
        .title {
            font-size: 30px;
        }
       .desc {
        width:250px;
        font-size: 18px;
       }
   }
   .carousel-sector {
    margin-top: -220px;
    .slide-elm {
        width: 200px !important;
        .elm-table >h6 {
            width: 70px !important;
            font-size: 14px;
        }
    }
   }
}
@media (min-width:321px) and (max-width:768px){
    .sectors {
        height: 458px;
        padding-top: 30px;
        .title {
            font-size: 30px;
        }
        .desc {
         width:250px;
         font-size: 18px;
        }
    }
    .carousel-sector {
        margin-top: -220px;
        .slide-elm {
            width: 330px !important;
            .elm-table >h6 {
                width: 80px !important;
                font-size: 14px;
            }
        }
       }
}