.partners{
    .prt-title{
        font-family: DINNextLTW23;
        font-size: 28px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #1f1f1f;
        margin-top: 146px;
        margin-bottom: 40px;
    }
    .partners-names{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 113px;
        .navigator{
            width: 13px;
            height: 34px;
            font-family: Ionicons;
            font-size: 26px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #858585;
        }
    }
           .partners-names >img{
                margin-right: 70px;
            }
}

@media(max-width:320px){
    .partners .partners-names {
        align-items: center;
        flex-direction: column;
        margin-left: 70px;
        >img{
            margin-bottom: 20px;
        }
        .navigator{
            display: none;
        }
    }
}
@media (min-width:321px) and (max-width:768px){
    .partners .partners-names {
        align-items: center;
        flex-direction: column;
        margin-left: 70px;
        >img{
            margin-bottom: 20px;
        }
        .navigator{
            display: none;
        }
    }

}