.footer-container{
    position: fixed;
    width: 100%;
    bottom: 0;
}
.footer{
    display: flex;
    flex-direction: row;
    height: 109px;
     background-color: #ecedf2;
     justify-content: space-around;
     align-items: center;
     .footer-menu{
         display: flex;
        justify-content: space-around;
        > a{
            font-family: DINNextLTW23;
            font-size: 16px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            margin-right: 40px;
            color:#1d1d1d ;
        }
     }
     .footer-social-media{
        display: flex;
        justify-content: space-around;
        margin-right: 20px;
        .sm-img-cont{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 45px;
            height: 45px;
            background-color: #dddee3;
            margin-right: 20px;
            > img {
                width: 18px;
                height: 17px;
            }
        }
     }
}
.sub-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 46px;
    background-color: #dddee3;
}

@media(max-width:320px){
    .footer {
        display: flex;
        flex-direction: column;
        height: 215px;
        justify-content: center;
        align-items: center;
    }
    .footer .footer-menu {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .footer .footer-menu > a {
        margin-right: 0px;
    }
    .sub-footer {
        height: 96px;
        flex-direction: column;
        padding-bottom: 20px;
    }
}
@media (min-width:321px) and (max-width:768px){
    .footer {
        display: flex;
        flex-direction: column;
        height: 215px;
        justify-content: center;
        align-items: center;
    }
    .footer .footer-menu {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .footer .footer-menu > a {
        margin-right: 0px;
    }
    .sub-footer {
        height: 96px;
        flex-direction: column;
        padding-bottom: 20px;
    }
}