
  .logo{
    width:500px;
    height: 300px;
  }
  .logo-container{
    display: flex;
    justify-content: center;
  }
  .login-form-forgot {
    float: right;
  }
  .login-form-button {
    width: 100%;
  }
  .login-form{
    display: flex;
    justify-content: center;
    // height: 100vh;
    align-items: center;
  }
  .has-error .ant-form-explain, .has-error .ant-form-split {
    color: #f5222d;
    direction: rtl;
    float: right;
}