.ant-table-wrapper {
    width: 900px;
    background-color: white;
    margin-top: 22px;
    margin-right: 30px;

}
.ant-table-pagination.ant-pagination {
    float: left;
}
.ant-table table {
    text-align: center;
}
.ant-table-thead > tr > th {
    text-align: center;
}
.td > a{
    text-align: center;
}
.update-icon{
    width: 30px;
    margin: 0px 5px;
}
.delete-icon{
    width: 30px;
    margin: 0px 5px;
}
.add-icon{
    width: 90px;
    margin: 22px 40px 10px 10px; 


}
.country-dropmenu{
    margin-right: 50px;
}
