.activate-accounts-setting{
    background-color: white;
    width: 30%;
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 50px;
    border-radius: 50px;
    font-size: 18px;
}
.setting-switch{
    width: 25%;
    margin-right: 15px;
}
.activate-user-btn{
    width: 25%;
    margin-right: 15px;
    background: #1890ff;
    color: #fff;
}
.add-admin{
    background-color: white;
    width: 40%;
    height: 350px;
    align-items: center;
    padding: 10px;
    margin: 0 50px;
    border-radius: 20px;
    font-size: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
}
.admin-information {
    margin: 10px;
    width: 300px;
}
label{
    width: 36%;
}
.new-admin-title {
    margin: 10px 10px 15px 10px;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    color: #414042;
}
.add-admin-button{
    width: 150px;
    color: white;
    background-color: #1890ff;
}
.ant-table-wrapper {
    width: 95%;
    background-color: white;
    margin: 0 10px;
    margin-top: 40px;
}
.company-request-title{
    font-size: 21px;
    padding: 20px 50px 0 0;
    text-align: right;
    font-weight: bold;
    color: #414042;
}
.activate-company-account{
    color: white;
    background-color: #40a9ff;
    width: 90px;
}
.ant-btn:hover, .ant-btn:focus, .ant-btn:active, .ant-btn.active {
    text-decoration: none;
    color: #fff;
    background-color: #1890ff;
}
.export-city-major-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: 20px 50px 40px 0;
    height: 300px;
    background: white;
    border-radius: 20px;
}

.export-city-major-data .title{
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    color: #414042;
}