.user-jobs{
    padding: 56px 0px;
    max-width: 1170px;
    margin: 0 auto;
}
.jobs-details::before {
    display: none;
}
.jobs-details{
    margin-top: 5px;
    direction: rtl;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 42px;
    .job-post{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 350px;
        border-radius: 5px;
        box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.07);
        background-color: #ffffff;
        justify-content: space-between;
        // margin-left: 42px;
        margin-top: 25px;
        padding-top: 20px;
        float: right;
        padding: 0 10px;
        padding-bottom: 40px;

        .post-header{
            display: flex;
            border-bottom: solid 1px #e3e3e3;
            padding-bottom: 16px;
            >img{
                width: 60px;
                height: 56px;
            }
            .job-owner-info{
                display: flex;
                flex-direction: column;
                .job-owner-title{
                    font-size: 14px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.71;
                    letter-spacing: normal;
                    text-align: right;
                    color: #000000;
                }
                .job-owner-location{
                    font-size: 14px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.71;
                    letter-spacing: normal;
                    text-align: right;
                    color: #000000;
                }
                .job-owner-mobile{
                    font-size: 14px;
                    font-weight: 500;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.71;
                    letter-spacing: normal;
                    text-align: right;
                    color: #bdbdbd;
                }
            }
            
        }
        .post-body{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            
        }
        .post-description{
            font-size: 14px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.57;
            letter-spacing: normal;
            text-align: right;
            color: #5b5b5b;
            margin-top: 10px;
        }
        .post-actions-btns {
            display: flex;
            width: 95%;
            flex-direction: column;
            margin-top: 50px;
            position: absolute;
            bottom: 40px;
            align-items: center;
        }
        .post-status {
            margin-bottom: 10px;
            width: 88%;
            height: 32px;
            border-radius: 5px;
            background-color: #ddeaff;
            font-size: 14px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.71;
            letter-spacing: normal;
            text-align: center;
            color: #7696f5;
        }
        .apply-job-btn{
            width: 88%;
            height: 44px;
            border-radius: 6px;
            background-color: #3598d4;
            border-color:  #3598d4;
            margin-bottom: 10px;
            font-size: 14px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.57;
            letter-spacing: normal;
            text-align: center;
            color: #ffffff;
            cursor: pointer;

        }
        .details-btn{
            width: 88%;
            height: 44px;
            border-radius: 6px;
            background-color: #a0a0a0;
            font-size: 14px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.57;
            letter-spacing: normal;
            text-align: center;
            color: #fff;
            cursor: pointer;
            // margin-top: 50px;
           
        }
    }
    
    
}
.display-more{
    width: 140px;
    height: 35px;
    border-radius: 6px;
    background-color: #3b3b3b;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin: auto;
    display: block;
    margin-top: 60px;
    margin-bottom: 40px !important;
}
.job-post:hover, .job-post:focus, .job-post:active {
    background-color: #34add9;
}
.job-post:hover .job-owner-title, .job-post:hover .job-owner-location, .job-post:hover .job-owner-mobile, .job-post:hover .post-description,
.job-post:hover .post-status, .job-post:hover .job-completed {
            color: #fff !important;
}

.job-post:hover .apply-job-btn{
    background: #fff !important;
    border-color: #fff !important;
    color: #009ad0 !important;
}

.job-post:hover .post-status{
    background: #2e9bc3 !important;
}

.job-completed {
    background: #ffa50038;
    height: 30px;
    width: 88%;
    color: orange;
    border-radius: 7px;
    padding-top: 5px;
}

@media (max-width:320px){
    .jobs-details{
        grid-template-columns: repeat(1, 1fr);
         grid-gap: 22px;
     .job-post {
        // width: auto;
        margin-left: 0px;
        padding-right: 10px;
        height: 373px;
        
    }
}
    .user-jobs {
        padding: 10px 15px;
    }
    .jobs-details .job-post .post-body .post-description{
        text-align: center;
    }
    .jobs-details .job-post .post-body .post-actions-btns {
        justify-content: center;
        align-items: center;
        width: 95%;
    }
    .jobs-details .job-post .post-body .details-btn {
        margin-top: 0px;
    }
    // .jobs-details .job-post .post-body .apply-job-btn , .jobs-details .job-post .post-body .details-btn {
    //     width: 180px;
    // }
}

@media (min-width:321px) and (max-width:768px){
    .jobs-details {
        grid-template-columns: repeat(1, 1fr);
         grid-gap: 42px;
        .job-post {
        // width: auto;
        margin-left: 0px;
        padding-right: 10px;
        height: 373px;
    }
}
    .user-jobs {
        padding: 10px 15px;
    }
    .jobs-details .job-post .post-body .post-description{
        text-align: center;
    }
    .jobs-details .job-post .post-body .post-actions-btns {
        justify-content: center;
        align-items: center;
        width: 95%;
    }
    .jobs-details .job-post .post-body .details-btn {
        margin-top: 0px;
    }

}